{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "cspell --no-must-find-files --exclude \"tests/**/*\""
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write",
    "cspell --no-must-find-files --exclude \"tests/**/*\""
  ]
}
